<article class="article">
  <header class="d-flex flex-row justify-content-between align-items-center">
    <h2>Lorem ipsum</h2>
    <time>29/03/2019</time>
  </header>
  <main>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus varius mi vel mattis.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi commodo ipsum congue sem aliquam dictum.
      Aliquam vehicula libero et sem pretium, quis volutpat neque semper. Pellentesque volutpat molestie nunc, quis pulvinar eros rutrum sed.
      Quisque vel libero tincidunt, euismod sapien ac, condimentum ligula. Sed lacus ante, sagittis a diam ut, aliquet imperdiet quam.
      Quisque dictum eget dolor in efficitur.
    </p>
  </main>
</article>
