<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer>
  <div class="container info-section">
    <div class="row">
      <div class="col-md socialmedia">
        <h3>Media Społecznościowe</h3>
        <small>się zmieni</small>
        <ul>
          <li><a href="#" class="fa fa-facebook"></a></li>
          <li>Twitter</li>
          <li>Reddit</li>
          <li>Instagram</li>
        </ul>
      </div>
      <div class="col-md contact">
        <h3>Kontakt</h3>
        <p><b>Telefon: </b> 123 456 789</p>
        <p><b>Adres: </b>ul. Pierwsza 1, 12-345 Warszawa</p>
      </div>
      <div class="col-md contributions">
        <h3>Udziały?</h3>
        <div>
          Ikony wykonane przez
          <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
          z
          <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="container copyright">
    <div class="row">
      <div class="col">
        <p>
          <em>Firma Transportowa</em>
          Wszystkie prawa zastrzeżone &copy; 2020
        </p>
      </div>
    </div>
  <div>
</footer>
