{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand d-flex justify-content-left align-items-center" href="{% url 'webapp:index' %}">
    <img src="{% static 'webapp/img/brand.png' %}" class="brand-img" width="30" height="30" alt="" />
    Firma Transportowa
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbarCollapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'webapp:index' %}">Strona główna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:about_us' %}">O nas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:contact' %}">Kontakt</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse navbarCollapse">
    <ul class="navbar-nav ml-auto">
      {% if not request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'webapp:login' %}">Zaloguj się</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'webapp:register' %}">Zarejestruj się</a>
        </li>
      {% else %}
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="mainNavbarDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Witaj {{ request.user.client.first_name }}
          </a>
          <div class="dropdown-menu" aria-labelby="mainNavbarDropdown">

            <a class="dropdown-item" href="{% url 'webapp:change_password' %}">Zmień hasło</a>

            {% if request.user.is_staff %}
              <a class="dropdown-item" href="{% url 'webapp:create_post' %}">Dodaj artykuł</a>
              <a class="dropdown-item" href="{% url 'webapp:create_place' %}">Dodaj przystanek</a>
            {% endif %}

          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'webapp:logout' %}">Wyloguj się</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
