{% extends 'webapp/base.html' %}

{% block body %}

<div class="container post-wrapper">
  <h1>O nas</h1>
  <hr />
 <h3> Na nas się nie przejedziesz, z nami będziesz się woził!</h3><br>
  <center><blockquote class="imgur-embed-pub" lang="en" data-id="a/fSuMsOL" data-context="false" ><a href="//imgur.com/a/fSuMsOL"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script></center>
 <br>
  Bezpieczeństwo, wygoda, profesjonalna obsługa w dobrej cenie – takie są oczekiwania Pasażerów wybierających się w podróż i takie są priorytety naszej firmy przewozowej. Każdego dnia ruszamy w drogę, zabierając Was od drzwi do drzwi w Polsce i zagranicą. Obsługujemy najpopularniejsze i najczęściej wybierane przez Was trasy, tj. Polska – Holandia – Polska, Polska – Niemcy – Polska.
  
  
  

</div>

{% endblock %}
