{% extends 'webapp/base.html' %}
{% load add_class %}

{% block alert_box %}

  {{ block.super }}
  {% for error in form.non_field_errors %}
    {% include 'webapp/elements/alerts/error.html' with message=error only %}
  {% endfor %}

{% endblock %}

{% block body %}

<div class="container h-100">
  <div class="row h-100 d-flex align-items-center">
    <div class="col-md-12 col-lg-6 offset-lg-3">
      <h1 class="text-center">Zmień hasło</h1>

      <form action="#" method="POST">
        {% csrf_token %}

        <div class="form-group">
          <label for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
          {% for error in form.old_password.errors %}
            {% include 'webapp/elements/alerts/error.html' with message=error only %}
          {% endfor %}
          {{ form.old_password|add_class:"form-control" }}
        </div>

        <div class="form-group">
          <label for="{{ form.new_password.id_for_label }}">{{ form.new_password.label }}</label>
          {% for error in form.new_password.errors %}
            {% include 'webapp/elements/alerts/error.html' with message=error only %}
          {% endfor %}
          {{ form.new_password|add_class:"form-control" }}
        </div>

        <div class="form-group">
          <label for="{{ form.new_password_repeat.id_for_label }}">{{ form.new_password_repeat.label }}</label>
          {% for error in form.new_password_repeat.errors %}
            {% include 'webapp/elements/alerts/error.html' with message=error only %}
          {% endfor %}
          {{ form.new_password_repeat|add_class:"form-control" }}
        </div>

        <button type="submit" class="btn btn-primary">Zmień hasło</button>
      </form>

    </div>
  </div>
</div>

{% endblock %}
