{% extends 'webapp/base.html' %}

{% block body %}

<div class="container post-wrapper">
  <h1>Kontakt</h1>
  <hr />
  Przez ponad 20 lat działalności na rynku w województwie małopolskim świadczyliśmy kompleksowe usługi przewozów autobusowych, a także transportu towarowego. Siedziba firmy Firma Transportowa mieści się w Sosnowcu. W ramach przewozów pasażerskich pomagamy przy transporcie na imprezy okolicznościowe, przy organizacji wycieczki krajowych i zagranicznych i przy wielu innych  okazjach. Zachęcamy do sprawdzenia szczegółowej oferty naszej firmy przewozowej. W przypadku jakichkolwiek pytań lub chęci skorzystania z naszej oferty serdecznie zapraszamy do kontaktu.
  
  <br><br>
  
  <h3>Siedziba firmy</h3>
    <hr />
    34-700 Kraków, Łupinki Łużyckie 112/36
    
    <br>
    
    <h3>Telefon</h3> 
      <hr />
      +48 997 997 997 <br>
      +48 112 112 997
      
      <br>
    
    <h3>E-mail</h3> 
      <hr />
      firmatransportowa@gmail.com <br>
      
    
  

</div>

{% endblock %}
