{% extends 'webapp/base.html' %}
{% load add_class %}

{% block alert_box %}

  {{ block.super }}
  {% for error in form.non_field_errors %}
    {% include 'webapp/elements/alerts/error.html' with message=error only %}
  {% endfor %}

{% endblock %}

{% block body %}

<div class="container h-100">
  <div class="row h-100 d-flex align-items-center">
    <div class="col-md-12 col-lg-6 offset-lg-3">
      <h1 class="text-center">Dodaj nowy przystanek</h1>

      <form action="#" method="POST">
        {% csrf_token %}

        <div class="form-group">
          <label for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
          {% for error in form.city.errors %}
            {% include 'webapp/elements/alerts/error.html' with message=error only %}
          {% endfor %}
          {{ form.city|add_class:"form-control" }}
        </div>

        <div class="form-group">
          <label for="{{ form.street.id_for_label }}">{{ form.street.label }}</label>
          {% for error in form.street.errors %}
            {% include 'webapp/elements/alerts/error.html' with message=error only %}
          {% endfor %}
          {{ form.street|add_class:"form-control" }}
        </div>

        <div class="form-group">
          <label for="{{ form.stop_name.id_for_label }}">{{ form.stop_name.label }}</label>
          {% for error in form.stop_name.errors %}
            {% include 'webapp/elements/alerts/error.html' with message=error only %}
          {% endfor %}
          {{ form.stop_name|add_class:"form-control" }}
        </div>

        <button type="submit" class="btn btn-primary">Zapisz</button>
      </form>

    </div>
  </div>
</div>

{% endblock %}
