{% extends 'webapp/base.html' %}

{% block body %}

{% if not request.user.is_authenticated %}
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-4">Witaj w Firmie Transportowej!</h1>
          <p class="lead">
           <b>Firma Transportowa Sp. z o.o. </b> została założona w 1997 roku przez niemiecką spółkę Bolec i Kolec Transporte z Singen i do dziś służy klientom swoją rzetelnością i oddaniem! Ruszaj z nami już dziś!
          </p>
          <hr class="my-4">
          <p>
           Zaloguj się do serwisu!
          </p>
          <a class="btn btn-primary btn-lg" href="{% url 'webapp:login' %}" role="button">Zaloguj się</a>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="container post-wrapper">
  <h1>Aktualności</h1>
  <hr />
  {% for post in posts %}
    {% include 'webapp/elements/post.html' %}
  {% empty %}
    <div class="no-posts-warning">
      <p>Tabela aktualności w bazie danych jest pusta. Możesz ją zapełnić poprzez:</p>
      <p><code>$ ./manage.py populatedb</code></p>
    </div>
  {% endfor %}
</div>

{% endblock %}
