html, body {
    font-family: 'Lato', sans-serif;
    height: 100%;
}

.brand-img {
    margin-right: 10px;
}

body > footer {
    background-color: #333;
    color: #eee;
    padding: .75em 0;
    text-align: center;
}

body > footer .info-section {
    padding: 1em 0;
}

body > footer .info-section .socialmedia,
body > footer .info-section .contact,
body > footer .info-section .contributions {
    text-align: center;
}

body > footer .copyright em {
    font-weight: bold;
    font-style: normal;
}

body > footer .copyright p {
    margin: 0;
}

.post-wrapper {
    margin-bottom: 4em;
}

.post-wrapper > .post {
    margin-top: 2em;
    margin-bottom: 3em;
}

.post-wrapper > .post h2 {
    font-size: 1.7em;
}

.post-wrapper > .post > main {
    text-align: justify;
}

.post-wrapper > .post:last-child {
    margin-bottom: 0;
}

.no-posts-warning {
    background-color: #fafafa;
    color: #aaa;
    text-align: center;
    font-style: italic;
    padding: 3em 5em;
    border-radius: 5px;
    border: 1px solid #bbb;
}

.no-posts-warning  p {
    margin: 0;
}

.no-posts-warning code {
    font-style: normal;
}

.alert-box {
    position: fixed;
    left: 1em;
    bottom: 1em;
    width: 33.33333%;
}

@media only screen and (max-width: 992px) {
    .alert-box {
        width: calc(100% - 2em);
    }
}

.edit-post-btn {
    margin: 0 .5em;
}

.edit-post-btn,
.delete-post-btn,
.edit-post-btn:hover,
.delete-post-btn:hover,
.edit-post-btn:active,
.delete-post-btn:active,
.edit-post-btn:focus,
.delete-post-btn:focus,
.edit-post-btn:visited,
.delete-post-btn:visited {
    text-decoration: none;
    color: #eee !important;
}

/* Style all font awesome icons */
.fa {
   padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

