html, body {
    font-family: 'Lato', sans-serif;
}

.brand-img {
    margin-right: 10px;
}

body > footer {
    background-color: #333;
    color: #eee;
    padding: .75em 0;
    text-align: center;
}

body > footer .info-section {
    padding: 1em 0;
}

body > footer .info-section .socialmedia,
body > footer .info-section .contact,
body > footer .info-section .contributions {
    text-align: center;
}

body > footer .copyright em {
    font-weight: bold;
    font-style: normal;
}

body > footer .copyright p {
    margin: 0;
}

.article-wrapper {
    margin-bottom: 4em;
}

.article-wrapper > .article {
    margin-top: 2em;
    margin-bottom: 3em;
}

.article-wrapper > .article h2 {
    font-size: 1.7em;
}

.article-wrapper > .article > main {
    text-align: justify;
}

.article-wrapper > .article:last-child {
    margin-bottom: 0;
}
