html, body {
    font-family: 'Lato', sans-serif;
    height: 100%;
}

.brand-img {
    margin-right: 10px;
}

body > footer {
    background-color: #333;
    color: #eee;
    padding: .75em 0;
    text-align: center;
}

body > footer .info-section {
    padding: 1em 0;
}

body > footer .info-section .socialmedia,
body > footer .info-section .contact,
body > footer .info-section .contributions {
    text-align: center;
}

body > footer .copyright em {
    font-weight: bold;
    font-style: normal;
}

body > footer .copyright p {
    margin: 0;
}

.post-wrapper {
    margin-bottom: 4em;
}

.post-wrapper > .post {
    margin-top: 2em;
    margin-bottom: 3em;
}

.post-wrapper > .post h2 {
    font-size: 1.7em;
}

.post-wrapper > .post > main {
    text-align: justify;
}

.post-wrapper > .post:last-child {
    margin-bottom: 0;
}

.no-posts-warning {
    background-color: #fafafa;
    color: #aaa;
    text-align: center;
    font-style: italic;
    padding: 3em 5em;
    border-radius: 5px;
    border: 1px solid #bbb;
}

.no-posts-warning  p {
    margin: 0;
}

.no-posts-warning code {
    font-style: normal;
}
